@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --maincolor: red;
  --bordercl:rebeccapurple;
  --callouctcolor:dodgerblue;
  --hovercolor:navy;
  --darkMaincolor: #50fa7b;
  --color-accent-fg: #58a6ff;
}

body {
  height: 100vh;
  background-color: rgb(35, 36, 37);
  color: #eee;  
}
